@import url('https://fonts.googleapis.com/css?family=Anton|Patua+One');
html,body{
    height: 98%;
    
}
body{
    position: absolute;
    left:100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    animation: Change 10s infinite;
    font-family: Arial, Helvetica, sans-serif;
}
   @keyframes Change{
        0%{background-image: url("Background/1.jpg");}   
        50%{background-image: url("Background/2.jpg");}
        100%{background-image: url("Background/1.jpg");}
    }
.Top_Header{
    /*border-radius: 20px;*/
    position: absolute;
    background-color: rgba(20,20,20,1.5);
    left: 280px;
    width: 1000px;
    height:80px ;
    box-shadow: 0px 0px 20px red;
    border-radius: 50px;
}
.My_Name{
    position: relative;
    color: white;
    Top:-10px; 
    text-shadow: 0px 0px 20px red;
    font-size:40px;
}
.left_Header{
    position: absolute;
    background-color: rgba(90,10,10,1.5);
    left: 15px;
    width: 10px;
    height: 1000px;}
    .Profile_Image{
        position: absolute;
        Top:13px; left:10px;
        width: 209px;
        border-radius: 100%;
        }
        /*================Center_Header================*/
    .Center_Header{
        position: absolute;
        background-color: rgba(20,20,20,1.5);
        left: 30px;
        width: 230px;
        height: 1000px;
        color:rgb(200, 200, 200);      
        }
        .Contact_image,.Mail_image,.Facebock_image,.Profile_Image{
            box-shadow: 0px 0px 30px red ;
            border-radius: 100%;
        }
        .Contact{
            position: absolute;
            top:220px; left:10px;
            font-size: 25px;
            text-shadow: 2px 2px 10px rgb(255, 2, 2);
        }
       .Contact_image{
        position: absolute;
        top:280px; left:100px;
        width: 35px;
       }
        .Contact_Num{
            position: absolute;
            top:310px; left:60px;
            font-size: 15px;
        }
        .Mail_image{
            position: absolute;
            top:380px; left:100px;
            width: 35px;
        }
        .Mail_Value{
            position: absolute;
            top:410px; left:5px;
            font-size: 15px;
        }
        p.Facebock_Value{
            position: absolute;
            top:510px; left:70px;
            font-size: 15px;
            text-shadow: 0px 0px 20px red ;
        }
        img.Facebock_image{
            position: absolute;
            top:-50px; left:25px;
            cursor: pointer;
            width: 45px;
            box-shadow: 0px 0px 20px red ;
            border-radius: 100%;
        }
        img.Facebock_image:hover {
            box-shadow: 0px 0px 20px aqua ;
            border-radius: 100%;
        }
        p.Facebock_Value:hover{
            text-shadow: 0px 0px 20px aqua ;
        }
        
        /*===============Center_Header=================*/
    .Right_Header{
        position: absolute;
        background-color: rgba(90,10,10,1.5);
        left: 265px;
        width: 10px;
        height: 1000px;}

    .CV_body{
        position: absolute;
        /*background-color: rgba(90,10,10,0.5); */
        top:85px;
        left: 280px;
        width: 1000px;
        height: 87%;
        }
    /*====================Education===================*/
    .Education{
        position: absolute;
        background-color: rgba(21, 41, 78, 0.0); 
        left: 1px;
        height: 200px; width:600px ;
        text-align: left;
        text-shadow: 2px 2px 5px black;
    }
        h3{
            position: absolute;
            color: rgb(180, 180, 120);
            left: 10px; 
            font-size:21px;
            text-shadow: 1px 1px 4px red;
            }
            .Future_Image{
                cursor: pointer;
                position: absolute;
                Top:40px; left:150px;
                width: 150px;
            }
            .University{
                position: absolute;
                Top:50px; left:20px;
                color: rgb(161, 160, 160);
            }
                .Uni_Value{
                    position: absolute;
                    Top:50px; left:300px;
                    color: lavender;
                }
            .Rating{
                position: absolute;
                Top:80px; left:20px;
                color: rgb(161, 160, 160);
            }
            .Rat_Value{
                position: absolute;
                Top:80px; left:160px;
                color: lavender;
            }
            .Grad_proj{
                position: absolute;
                Top:110px; left:20px;
                color: rgb(161, 160, 160);
            }
            .Grad_Value{
                position: absolute;
                Top:110px; left:160px;color: lavender;
            }
            .DB{
                position: absolute;
                Top:180px; left:35px;
            }
            .DB_Value{
                position: absolute;
                Top:205px; left:50px;
            }
/*====================Education===================*/
    .Computer_Skills{
        position: absolute;
        background-color: rgba(21, 41, 78, 0.0); 
        top:190px;
        left: 1px;
        height: 500px; width:600px ;
        text-align: left;
        text-shadow: 2px 2px 5px black;
        color: lavender;
        }
            .Mc_office{
                position: absolute;
                top:35px; left:30px;
                font-weight: bold;
                }
            .Mc_Value{
                position: absolute;
                top:60px; left:50px;
                }
            .Pro_Language{
                position: absolute;
                top:35px; left:200px;
                font-weight: bold;
                }
            .Pro_Lang_Value{
                position: absolute;
                top:60px; left:200px;
                }    
            .certificate{
                position: absolute;
                top:255px; left:35px;
            }    
            #myImg{
                position: absolute;
                top:255px; left:370px;
                width: 150px ;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
            }
            #myModal{
                position: absolute;
                top:255px; left:370px;
                width: 150px ;
            }
            #myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



@media (max-width: 500px) {
     /*PUT CSS HERE TO ALTER WEBSITE TO SINGLE COLUMN 
    
     font-family: 'Anton', sans-serif;
    .Top_Header{
    border-radius: 2px;
    position: absolute;
    background-color: rgba(27,44,62,1.5);
    left: 880px;
    width: 1000px;
    height:80px ;

}
    */
 }
 
