* {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#Age_Value{
    color:white;
    position: absolute;
    top:250px; left:100px;
}
html,body{
    height: 100%;
    overflow: hidden;
    
}
body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-image: url("Background/1.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
   @keyframes Change{
        0%{background-image: url("Background/1.jpg");}   
        50%{background-image: url("Background/2.jpg");}
        100%{background-image: url("Background/1.jpg");}
    }


.left_Header,.Right_Header,.Center_Header{
    top:0px;
    height: 100%;
}
    .left_Header{
        position: absolute;
        background-color: rgba(90,10,10,1.5);      
        left: 15px;
        width: 10px;
       
        box-shadow: 0px 0px 10px rgb(255, 0, 0);
    }
    .Right_Header{
        position: absolute;
        background-color: rgba(90,10,10,1.5);
        left: 335px;
        width: 10px; 
        box-shadow: 0px 0px 10px rgb(255, 0, 0);
    }

   
        /*================Center_Header================*/
    .Center_Header{
        position: absolute;
        background-color: rgba(20,20,20,1.5);
        left: 30px;
        width: 300px;
        color:rgb(200, 200, 200);      
        }
        .Profile_Image{
            position: absolute;
            z-index: 1;
            Top:13px; left:37px;
            width: 230px;
            margin: 0px 25px;
            border-radius: 100%;
            }
        h1{
            position:absolute; 
            background-color: rgba(141, 6, 6, 0.5);
            font-size:27px;
            width:300px;
            top:230px;
            text-shadow: 0px 0px 30px red;
            box-shadow:1px 1px 10px rgb(0, 0, 0);
            padding: 10px 0px;
        }
        .Contact_block{
            position: absolute; 
            margin: 0px;
            top:300px; left:30px;
            width: 300px;
            height: 300px;
            text-shadow: 1px 1px 1px black;
            color:white;
        }
        .Contact_image,.Mail_image,.Facebock_image,.Profile_Image{
            box-shadow: 0px 0px 30px red ;
            border-radius: 100%;
           
        }
        .Contact{
            color : rgb(180, 180, 180);
            background-color: rgba(140, 0, 0, 0.2);
            box-shadow:1px 1px 10px rgb(0, 0, 0);
            width:290px;
            text-align: left;
            padding: 5px;            
            font-size: 25px;
            text-shadow: 2px 2px 10px rgb(255, 2, 2);
        }
       .Contact_image{
        position: absolute;
        top: 0px; left:-40px;
        width: 35px;
       }
        .Contact_Num{
            position: absolute;
            margin:0px 10px;
            padding:10px 10px;
            top:80px; left:50px;
            font-size: 15px;
            line-height: 20px;
        }
        .Mail_image{
            position: absolute;
            top:0px; left:-40px;
            width: 35px;
        }
        .Mail_Value{
            position: absolute;
            margin:0px 10px;
            padding:10px 10px;
            top:135px; left:50px;
            font-size: 15px;
        }
        .Facebock_Value{
            position: absolute;
            margin:0px 10px;
            padding:10px 10px;
            top:190px; left:50px;
            font-size: 15px;
            text-shadow: 0px 0px 20px red ;
            color :white;
        }
        img.Facebock_image{
            position: absolute;
            top:0px; left:-40px;
            cursor: pointer;
            width: 35px;
            box-shadow: 0px 0px 20px red ;
            border-radius: 100%;
        }
        img.Facebock_image:hover {
            box-shadow: 0px 0px 20px aqua ;
            border-radius: 100%;
        }
        p.Facebock_Value:hover{
            text-shadow: 0px 0px 20px aqua ;
            cursor: pointer;
        }
        
        /*===============Center_Header=================*/
        p, li{
            width:max-content;
        }
    .CV_body{    
        width: 77.3vw;        
        position: absolute;
        margin-left: 0vw;
        height: 100%;
        margin-top: 0px;
        left: 350px; 
        overflow:scroll;
        /* max-width:1000px;
        max-height:100%;  
        background-color: rgba(141, 6, 6, 0.5); */
        }
      
::-webkit-scrollbar {
    width: 15px;
   height: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(141, 6, 6, 0.5);
    /* box-shadow:  0px 0px 10px rgba(255, 2, 2, 1.0); */
}

    /*====================Education===================*/
    .Education{
        position: absolute;
        background-color: rgba(21, 41, 78, 0.0); 
        left: 1px;
        height: 200px; width:600px ;
        text-align: left;
        text-shadow: 2px 2px 5px black;
    }
        h3{
            position: absolute;
            color: rgb(180, 180, 120);
            left: 10px; 
            width: 100%;
            padding: 5px 15px;
            font-size:21px;
            text-shadow: 1px 1px 4px red;
            background-color: rgba(140, 0, 0, 0.2);
            box-shadow:1px 1px 10px rgb(0, 0, 0);
            }
            .Future_Image{
                -webkit-filter: drop-shadow(5px 5px 15px rgb(255, 0, 0));
                filter: drop-shadow(5px 5px 15px rgb(255, 0, 0));
                cursor: pointer;
                position: absolute;
                Top:55px; left:350px;
                width: 150px;
            }
            .first-letter{
                position: absolute;
                color:white;
                text-shadow:1px 1px 10px red;
                top :50px;
                text-align: right;
                line-height: 30px;
                list-style-type: none; 
            }   
            .last_letter{
                position: absolute;
                color:white;
                top:50px; left:150px;
                line-height: 30px;
                list-style-type: none; 

            }
            #Gr_proj{
                position: absolute;
                top:65px;
                line-height: 20px;
            }
            .DB{
                position: absolute;
                Top:180px; left:35px;
            }
            .DB_Value{
                position: absolute;
                Top:205px; left:50px;
            }
/*====================Education===================*/
    .Computer_Skills{
        position: absolute;
        background-color: rgba(21, 41, 78, 0.0); 
        top:190px;
        left: 1px;
        height: 500px; width:600px ;
        text-align: left;
        text-shadow: 2px 2px 5px black;
        color: lavender;
        }
            .Mc_office{
                position: absolute;
                
                top:-40px; left:0px;
                font-weight: bold;
                }
            .Mc_Value{
                position: absolute;
                top:80px; left:40px;
                }
            .Pro_Language{
                position: absolute;
                top:-40px; left:0px;
                font-weight: bold;
               

                }
            .Pro_Lang_Value{
                position: absolute;
                top:80px; left:200px;
                }    
            .certificate{
                position: absolute;
                top:255px; left:35px;
            }    
/*====================Language===================*/

            #myImg{
                position: absolute;
                top:255px; left:370px;
                width: 350px ;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
            }
            #myModal{
                position: absolute;
                top:255px; left:370px;
                width: 350px ;
            }
            #myImg:hover {opacity: 0.5;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media  (max-width: 500px) {
    footer{
        background-color: rgba(30, 20, 20, 1.0);
        position: absolute;
        width: 200%;
        height: 120px;
        top: 182%;
    }
    html,body{
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
    }
   body{
        background-image: url('Background/Mobile.png');
        background-color: black;
        width: 200%;
    }
       .Center_Header{
        position: absolute;
        height: 90px;
        top :10px;
        left : 0px;
        width: 200%;
       }
        .left_Header,.Right_Header{
            position: absolute;
            left: 0px;
            width: 200%;
            height: 10px;
            box-shadow:0px 0px 0px rgb(0, 0, 0);
            background-color: rgba(140, 20, 20, 0.9);
        }
        .left_Header{
            top:0px;
        }
        .Right_Header{
            top:100px;
        }
        .Profile_Image{
            position: absolute;
            top: 20px; left:5px;
            margin: 0px;
            z-index: 1;
            width: 140px;
            box-shadow: 0px 0px 20px rgb(253, 0, 0);
        }
        .My_Name{
            position: absolute;
            top:10px; left:155px;
            margin: 0px;
            width: 220px;
            height: 50px;
            font-size: 25px;
        }
        .CV_body{
            position: absolute;
            left:0px;
            top:150px;
            width: 200%;
            height: 109%;
            background-color: rgba(141, 6, 6, 0.0)
        }
        .Contact_block{
            position: absolute;
            top: 185%;
            z-index: 2;
           
        }
        .Contact{
            position: absolute;
            padding: 5px 10px;  margin: 0px;          
            font-size: 20px;
            top: -15px;
        }
        .Contact_image{
            position: absolute;
            top:5px; left:-20px;
            width: 25px;
           }
        .Contact_Num{
            position: absolute;
            margin:0px 10px;
            padding:6px 8px;
            top:20px; left:200px;
            font-size: 12px;
            line-height: 20px;
        }
        .Mail_image{
            position: absolute;
            top:0px; left:-25px;
            width: 25px;
        }
        .Mail_Value{
            position: absolute;
            margin:0px 10px;
            padding:6px 8px;
            top:25px; left:-10px;
            font-size: 12px;
        }
        .Facebock_Value{
            position: absolute;
           
            top:50px; left:-15px;
            font-size: 15px;
            
            
        }
        img.Facebock_image{
            top:5px; left:-20px;
            width: 25px;
        }
        .CV_body{
           
        }
 }
 

@media only screen and (min-width:500px)and (max-width:670px){
    footer{
        background-color: rgba(30, 20, 20, 1.0);
        position: absolute;
        width: 100%;
        height: 120px;
        top: 82%;
    }
    html,body{
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
    }
   body{
        background-image: url('Background/Mobile.png');
        background-color: black;
        
    }
       .Center_Header{
        position: absolute;
        height: 90px;
        top :10px;
        left : 0px;
        width: 100%;
       }
        .left_Header,.Right_Header{
            position: absolute;
            left: 0px;
            width: 100%;
            height: 10px;
            box-shadow:0px 0px 0px rgb(0, 0, 0);
            background-color: rgba(140, 20, 20, 0.9);
        }
        .left_Header{
            top:0px;
        }
        .Right_Header{
            top:100px;
        }
        .Profile_Image{
            position: absolute;
            top: 20px; left:5px;
            margin: 0px;
            z-index: 1;
            width: 140px;
            box-shadow: 0px 0px 20px rgb(253, 0, 0);
        }
        .My_Name{
            position: absolute;
            top:10px; left:155px;
            margin: 0px;
            width: 490px;
            height: 50px;
            font-size: 35px;
            text-align: center;
        }
        .CV_body{
            position: absolute;
            left:0px;
            top:150px;
            width: 100%;
            height: 42%;
            background-color: rgba(141, 6, 6, 0.0)
        }
        .Contact_block{
            position: absolute;
            top: 86%;
            z-index: 2;
           
        }
        .Contact{
            position: absolute;
            padding: 5px 10px;  margin: 0px;          
            font-size: 20px;
            top: -15px;
        }
        .Contact_image{
            position: absolute;
            top:5px; left:-20px;
            width: 25px;
           }
        .Contact_Num{
            position: absolute;
            margin:0px 10px;
            padding:6px 8px;
            top:5px; left:350px;
            font-size: 12px;
            line-height: 20px;
        }
        .Mail_image{
            position: absolute;
            top:0px; left:-25px;
            width: 25px;
        }
        .Mail_Value{
            position: absolute;
            margin:0px 10px;
            padding:6px 8px;
            top:25px; left:-10px;
            font-size: 12px;
        }
        .Facebock_Value{
            position: absolute;
            top:20px; left:200px;
            font-size: 15px;
            
            
        }
        img.Facebock_image{
            top:5px; left:-20px;
            width: 25px;
        }
        .CV_body{
           
        }
}